
  img{
    width: 5rem;
    height: 5rem;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  /* ORGINAL CODE NEEDED FOR REFERENCE N CASE OF BREAK {SEE THE > SLICER FOR BETTER VISUAL}
  body {
    background: #000;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  */
  .box-outer {
    overflow: hidden;
    margin: 5rem auto;
    width: 20rem;
    height: 20rem;
    position: absolute;
    Top: 0;
    left: 5%;
  }
  .main_box {
    width: 20rem;
    height: 20rem;
    position: absolute;
    background: #f34c4c;
    border: 0.5rem solid #000;
    Top: 0;
  }
  
  